@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
}
/*==================== BASE ====================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /*background-color: var(--body-color);*/
  color: var(--text-color);
}
h1 {
  font-weight: 900;
  color: #000;
  font-size: clamp(2rem, 3.5vw, 3rem);
}
h2 {
  font-weight: 900;
  color: #000;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}
h3 {
  font-weight: 900;
  color: #000;
  font-size: clamp(1rem, 3.5vw, 1.3rem);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.r_icons {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/*==================== REUSABLE CSS CLASSES ====================*/
.cb_logo {
  width: 2rem;
}
.cross {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.elipse-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ----------------navbar---------------------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  font-size: 2rem;
  color: #000;
  box-shadow: 0 0 5px 0 #eee;
  padding: 0 5%;
}
.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.nav_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #000;
  font-weight: 100;
}
.nav_link:hover {
  border-bottom: 1px solid #000;
}
.active {
  color: #000;
  font-weight: 500;
  border-bottom: 1px solid #000;
}
.sidebar {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1aeb9f;
  color: #000;
  z-index: 200;
}
.sidebar .sidebar_li {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#desktop-sidebar .sidebar_li {
  align-items: center;
}
#mobile-sidebar .sidebar_li {
  width: 90%;
  align-items: baseline;
}
.inner_link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.inner_nav_link {
  align-items: left;
  color: #000;
}
/* --------------------------landing-page-------------------------- */
.career,
.apply_form,
.main-content {
  overflow: hidden;
  max-width: 1105px;
  margin: auto;
}
.container {
  padding: 0 15px;
}
section {
  margin: 50px 0;
}
.career .career_1 {
  display: flex;
  flex-direction: row;
}
.career .career_1 .container {
  width: 50%;
  padding: 1rem;
}
@media screen and (max-width: 767px) {
  .career .career_1 {
    flex-direction: column;
  }
  .career .career_1 .container {
    width: 100%;
  }
}
.border-dark {
  height: 16px;
  background-color: #000;
}
.career .career_2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.career .career_2 .container {
  padding: 1rem;
}
.career .career_2 #reason_content {
  margin-top: 50px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  font-size: 1.2rem;
}
.slick-dots li.slick-active button:before {
  color: cornflowerblue;
}
.career .career_3 .container #image {
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: 70px;
}
.career .career_3 .container #highlight {
  background: #1aeb9f;
  margin-top: 70px;
  color: #000;
  display: inline-block;
  font-family: Inconsolata, monospace;
  font-size: 24px;
  font-weight: 900;
  padding: 3px 20px;
  text-transform: uppercase;
}
.career .career_3 .container .posts_div {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 900;
  color: #000;
}
.career .career_3 .container .posts {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .career .career_3 .container .posts_div {
    flex-direction: column;
  }
  .career .career_3 .container .posts {
    width: 100%;
  }
}
/* --------------form---------------------- */
.apply_form {
  padding: 1rem;
}
.apply_form #indicate {
  font-size: 16px;
  font-weight: 100;
}
em,
.alert {
  color: red;
}
.field_active {
  transform: translateY(-30px);
  font-size: 16px;
  z-index: 2;
  background-color: #fff;
  padding: 0 5px;
  left: 20px;
}
@media screen and (max-width: 767px) {
  .apply_form .form_inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.submit_button {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
  color: #000;
  border: 4px solid #000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 22px 30px;
  width: 200px;
}
.submit_button:hover {
  background-color: #000;
  color: #fff;
}
.success_msg {
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lawngreen;
  background-color: #000;
  z-index: 50;
}
/* --------------form  carrer---------------------- */

.apply_form .form_inputs_carrer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.apply_form .form_inputs_carrer .form_row {
  display: flex;
  flex-direction: column;
  color: #000;
  width: calc(100% - 30px);
  margin-bottom: 10px;
}
.apply_form .form_inputs_carrer .form_row .input {
  font-size: 18px;
  border: 0;
  padding: 10px 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
  outline: none;
}
/* --------------form contact ---------------------- */
.apply_form .form_inputs_contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.apply_form .form_inputs_contact .form_row {
  position: relative;
  margin-bottom: 25px;
  clear: both;
  display: block;
}
.apply_form .form_inputs_contact .form_row .input {
  border: 1px solid #000;
  border-radius: 10px;
  height: 68px;
  padding: 26px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  line-height: normal;
  background-color: transparent;
}
.apply_form .form_inputs_contact .form_row .focusOff {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 20px;
  z-index: 0;
  font-weight: 400;
}
.apply_form .form_inputs_contact .form_row .focusOn {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  font-size: 16px;
  z-index: 2;
  background-color: #fff;
  padding: 0 5px;
  left: 20px;
}
.apply_form .form_inputs_contact .textbox_row .focusOff {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 20px;
  z-index: 0;
  font-weight: 400;
}
.apply_form .form_inputs_contact .textbox_row .focusOn {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
  font-size: 16px;
  z-index: 2;
  background-color: #fff;
  padding: 0 5px;
  left: 20px;
}
.apply_form .form_inputs_contact .textbox_row {
  position: relative;
  margin-bottom: 20px;
}

.checkbox_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
@media screen and (max-width: 767px) {
  .checkbox_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
.apply_form .form_inputs_contact .checkbox_row {
  float: left;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.apply_form .form_inputs_contact .select-service {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  justify-items: start;
}
/* --------------footer -------------------------------- */
.sub_footer {
  background-color: #f1f1f1;
  padding: 50px 0;
}
.sub_footer .exp_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.r-al {
  text-align: center;
}
.sub_footer .clients_exp {
  width: 45%;
  margin: 0 auto;
}
.sub_footer .clients_exp .position {
  color: #000;
}
.sub_footer .clients_exp .clients_logo {
  border-top: 0.0000001rem solid grey;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .sub_footer .exp_div {
    flex-direction: column;
  }
  .sub_footer .clients_exp {
    width: 95%;
  }
  .sub_footer #certificate {
    border-top: 0.5rem solid grey;
    margin-top: 2rem;
  }
  .r-al {
    text-align: center;
  }
}
.slick-next {
  position: absolute;
  top: 100%;
  left: 92%;
}
.slick-prev {
  position: absolute;
  top: 100%;
  left: 85%;
}
.slick-prev:before,
.slick-next:before {
  font-size: 2rem;
  color: #bfddfb;
}
.cer_logo .img_group {
  text-align: center;
}
.cer_logo img {
  max-width: 200px;
}
.com_logo {
  height: 40px;
}
.flex-row {
  display: inline-flex;
  gap: 1rem;
  font-size: 1.2rem;
  color: #000;
  flex-wrap: wrap;
}
/* ==========================contact=========================== */
.contact_main {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  text-align: center;
}
.contact_main .contact-left {
  width: 70%;
  padding-right: 35px;
  margin-right: 35px;
  border-right: 0.0001rem solid grey;
}
@media screen and (max-width: 1024px) {
  .contact_main {
    flex-direction: column;
  }
  .contact_main .contact-left {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 0.0001rem solid grey;
  }
}
.clk .clk_img {
  width: clamp(120px, 20vw, 200px);
}
.clk {
  display: flex;
  align-items: center;
}
.contact-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-member {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.linkedin {
  position: sticky;
  top: 0%;
  left: 50%;
  transform: translate(0%, -100%);
  width: 35px;
  height: 35px;
}
